html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background: #F8F8F8;
	font-size: 12px;
}
a:link, a:visited {
	color:#77BACE;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}
.width_full{
	width:40%;
}
.module{
	border: 1px solid #9BA0AF;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	overflow:hidden;
}
.module_content {
	padding: 10px 20px;
	color: #666;
	overflow: hidden;
}
fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F6F6F6;
	border: 1px solid #ccc;
	padding: 1% 0%;
	margin: 10px 0;
}
